
   <div class="row box">
     <div class="box-inner col-md-6 col-md-offset-3">
       <h1 class="title">散人就是这么任性!</h1>
       <p class="slogan">散人就是这么任性是一家互联网公司,公司位于北京建外SOHO.
         <br>
         本公司目前处于私营企业,旨在帮助更多志同道合的小伙伴找到通往"财富自由之路".
         <br>
         只要你可以足以证明你的实力,我相信我们不会辜负你对我们的期待.
       </p>
       <p class="lead">
         <%= link_to '马上应征', jobs_path, class: 'btn btn-danger' %>
       </p>
     </div>
   </div>



   <div class="content-section-a">

     <div class="content-title">国内知名散人</div>


     <div class="sanren_01">
       <%= image_tag 'pic-1.jpeg', class: 'img-responsive' %><br />
       <p class="sanren_p">职业:网游荣耀中被誉为教科书级别的顶尖高手</p>
       <p class="sanren_p01">特点:习惯于用散人的打法打出漂亮连招,娴熟的技巧更是让对手望成莫及,动作衔接快如闪电!</p>

     </div>

     <div class="sanren_01">
       <%= image_tag 'pic-1.jpeg', class: 'img-responsive' %><br />
       <p class="sanren_p">职业:网游荣耀中被誉为教科书级别的顶尖高手</p>
       <p class="sanren_p01">特点:习惯于用散人的打法打出漂亮连招,娴熟的技巧更是让对手望成莫及,动作衔接快如闪电!</p>

     </div>

     <div class="sanren_01">
       <%= image_tag 'pic-1.jpeg', class: 'img-responsive' %><br />
       <p class="sanren_p">职业:网游荣耀中被誉为教科书级别的顶尖高手</p>
       <p class="sanren_p01">特点:习惯于用散人的打法打出漂亮连招,娴熟的技巧更是让对手望成莫及,动作衔接快如闪电!</p>

     </div>

     <div class="sanren_01">
       <%= image_tag 'pic-1.jpeg', class: 'img-responsive' %><br />
       <p class="sanren_p">职业:网游荣耀中被誉为教科书级别的顶尖高手</p>
       <p class="sanren_p01">特点:习惯于用散人的打法打出漂亮连招,娴熟的技巧更是让对手望成莫及,动作衔接快如闪电!</p>

     </div>



   </div>

   <div class="content-section-b">
     <div class="content-title">关于我们</div>


     <div class="adout_ours">
       <p>
         散人就是这么任性!公司起始于2017年4月初,公司创始人为中国非著名散人王先生,公司创办人经过经年累月的经验沉淀,发觉未来超级个体会在社会中更加游刃有余,不受困于陈规旧俗中.
      </p>
      <p>
        所以公司创办人几经决定,成立了本公司,本公司旨在为未来的“散人”提供服务平台,所提交简历我们会在后台详细核定,如符合要求,我们会不惜一切代价为你保驾护航.
      </p>

      <div class="yishuziti">
        <%= image_tag 'yishuziti.png', class: 'yishuziti_img' %><br />
      </div>

     </div>




   </div>


   <div class="employees_said">

     <div class="employees_said_title">
       业界对我们的评价
     </div>

     <div class="employees_said_text">
       "曾经为工作不辞劳苦,任劳任怨,就是想先把手艺练好再跳槽,而现在‘散人就是任性’,曾经给了我影响我人生的重要平台,非常感谢王总的慷慨."
       <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;— 某知名公司产品经理人
     </div>

     <div class="employees_said_text">
       "曾经为工作不辞劳苦,任劳任怨,就是想先把手艺练好再跳槽,而现在‘散人就是任性’,曾经给了我影响我人生的重要平台,非常感谢王总的慷慨."
       <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;— 某知名公司产品经理人
     </div>

     <div class="employees_said_text">
       "曾经为工作不辞劳苦,任劳任怨,就是想先把手艺练好再跳槽,而现在‘散人就是任性’,曾经给了我影响我人生的重要平台,非常感谢王总的慷慨."
       <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;— 某知名公司产品经理人
     </div>




   </div>












   <!--<div class="content-section-b">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">一定要把履历写好在投</h2>
           <p class="lead">履历如果不会写就一定要多上网寻求帮助，例如  <a target="_blank" href="http://blog.niclin.tw">Nic 的 Blog</a>! 啦啦啦啦啦啦啦</p>
         </div>
         <div class="col-lg-5 col-sm-pull-6  col-sm-6">
           <%= image_tag 'pic-2.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>

   <div class="content-section-a">
     <div class="container">
       <div class="row">
         <div class="col-lg-5 col-sm-6">
           <hr class="section-heading-spacer">
           <div class="clearfix"></div>
           <h2 class="section-heading">这是可以乱改的字<br>动手试试看吧</h2>
           <p class="lead">摩改大赛可以参考<a target="_blank" href="https://forum.qzy.camp/">论坛资源</a></p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 col-sm-6">
           <%= image_tag 'pic-3.jpg', class: 'img-responsive' %>
         </div>
       </div>
     </div>
   </div>
-->
